.title {
    margin-bottom: 100px;
}

.emphasis {
    color: #FBC303;
}

.cta {
    margin-top: 50px;
    font-size: larger;
}

.cta a {
    font-weight: bold;
    color: #4B27DC;
}

.cta a:hover {
    color: #200980;
}

ul.streakList {
    list-style: none;
}